body{
	margin:0px;
}
.canvas{
  width:9000px;
}

#containment-wrapper{
	background-color:#ffffff;
	border:1px solid black;
	height:4000px;
/*	filter:invert(1);*/
}
@keyframes blur {
  from{filter:blur(0px);}
  to{filter:blur(7px);}
}
@keyframes invert {
  from{filter:invert(0);}
  to{filter:invert(1);}
}
.item{
	width:30px;
}
.medium-item{
	width:180px;
}
.big-item{
	width:200px;
}
.huge-item{
	width:500px;
	height:auto;
}
.avatar{
	position:absolute;
	width:70px;
}
.wide-avatar{
	position:absolute;
	width:120px;
}
.vehicle{
	position:absolute;
	width:200px;
}
.building{
	position:absolute;
	width:230px;
}
.place{
	position:absolute;
	width:800px;
}
